/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bun.lockb
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.junie/mcp/mcp.json
/docker/database/mariadb/
/docker/database/redis/
/docker/backups/
!/docker/backups/.gitkeep
!/docker/database/mariadb/.gitkeep
!/docker/database/redis/.gitkeep
/clover.xml
/coverage.xml
!.claude/**
/CLAUDE.md
